<!-- Add dialog FORM -->
<form #f="ngForm" *ngIf="user">
  <p-dialog minWidth="500" class="ui-grid ui-grid-responsive ui-fluid" header="" [(visible)]="display" [width]="300" [responsive]="true"
    showEffect="fade" [modal]="true">
    <p-header>
      Create User
    </p-header>

    <div class="ui-grid-col-4"><label for="userName">User Name</label></div>
    <div class="ui-grid-col-8">
      <input type="text" pInputText id="username" [(ngModel)]="user.username" name="username" placeholder="User Name" required>
    </div>

    <div *ngIf="newUser">
      <div class="ui-grid-col-4"><label for="password">Password</label></div>
      <div class="ui-grid-col-8">
        <input type="password" pPassword id="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
      </div>
    </div>

    <div class="ui-grid-col-4"><label for="email">Email</label></div>
    <div class="ui-grid-col-8">
      <input type="text" pInputText id="email" [(ngModel)]="user.email" name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        placeholder="Email">
    </div>

    <div class="ui-grid-col-4"><label for="firstname">First Name</label></div>
    <div class="ui-grid-col-8">
      <input type="text" pInputText id="firstname" [(ngModel)]="user.firstname" name="firstname" placeholder="First Name">
    </div>

    <div class="ui-grid-col-4"><label for="lastname">Last Name</label></div>
    <div class="ui-grid-col-8">
      <input type="text" pInputText id="lastname" [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name">
    </div>

    <div class="ui-grid-col-12">
      <h3>Authorities</h3>
        <span class="ui-fluid">
            <p-autoComplete [(ngModel)]="auth" appendTo="body" (completeMethod)="filterAuthority($event)" name="auth" [suggestions]="filteredAuthorities" styleClass="wid100"
                [minLength]="1" placeholder="Authorities" field="value" [multiple]="true">
            </p-autoComplete>
        </span>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newUser" pButton type="button" (click)="delete()" label="Delete" class="ui-button-danger"></button>
        <button pButton type="button" (click)="save()" label="Save" [disabled]="!f.valid"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
<button type="button" (click)="showDialogToAdd()" pButton icon="fa-external-link-square" label="Add"></button>
<!-- Data table -->
<p-dataTable [style]="{'margin-top':'10px'}" [immutable]=false [value]="users" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)"
  rows=20 [paginator]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadUsersLazy($event)" [responsive]="true">
  <p-column field="username" header="User Name"></p-column>
  <p-column field="email" header="Email"></p-column>
  <p-column field="firstname" header="First Name"></p-column>
  <p-column field="lastname" header="Last Name"></p-column>
</p-dataTable>
<!-- Confirm Dialog -->
<p-confirmDialog></p-confirmDialog>