<form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
    <p-panel [style]="{'position':'fixed', 'top':'50%', 'left':'50%', 'transform':'translate(-50%, -50%)'}">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Signup</span>
            </div>
        </p-header>

        <h3 class="first">User Name</h3>
        <input id="username" type="text" size="30" pInputText name="username" [(ngModel)]="model.username" #username="ngModel" required>

        <h3 class="first">Password</h3>
        <input id="password" type="password" size="30" pInputText name="password" [(ngModel)]="model.password" #password="ngModel"
            required>

            <h3 class="first">Email</h3>
            <input id="password" type="text" size="30" pInputText name="email" [(ngModel)]="model.email" #email="ngModel"
                required>

        <p-footer>
            <button pButton type="submit" label="Signup" class="ui-button-info"></button>
            <button pButton type="button" label="Got to Login" routerLink="/login" class="ui-button-info"></button>
        </p-footer>
    </p-panel>
</form>
{{signupStatus}}