.kan-card {
    white-space: pre;
    /* width:250px;  */
    height:100px;
    padding:5px;
    font-family: "Lucida Handwriting", cursive;
    font-size:15px;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
}